.hero-section {
  flex-wrap: wrap;
}
.hero-img {
  display: block;
  height: 37.5rem;
  width: 100vw;
}
.hero-info h1 {
  font-size: 3rem;
}
.hero-info {
  color: white;
  padding: 10px;
  width: 25rem;
  height: auto;
  position: absolute;
  top: 15.625rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.hero-info button {
  width: 12.5rem;
  padding: 10px;
  align-self: center;
  background-color: #fec76f;
  font-weight: bold;
  font-size: 1rem;
  border: none;
}

.home-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  padding: 3% 10%;
}

h3 {
  padding: 10px 0;
}
.services-section,
.about-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card-item {
  flex: 1 1 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 15px #6e79a3;
  gap: 10px;
  padding: 1rem;
  text-align: center;
}

.card-item i {
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: #fec76f;
  background-color: #11143e;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.card-item span {
  font-size: 2rem;
}
.card-item p {
  flex-grow: 1;
  font-size: small;
  text-align: center;
}
.figure {
  width: 50%;
  height: 40%;
  float: left;
  margin: 0px 20px 20px 0px;
}
.article-img {
  width: 100%;
}
article h4 {
  margin-bottom: 20px;
}

article p {
  margin-bottom: 20px;
  line-height: 2.1;
  font-size: smaller;
}
.italic-text {
  font-style: italic;
}

@media (max-width: 768px) {
  .hero-info {
    max-width: 70%;
    top: 10rem;
    right: 10%;
  }

  .hero-info h1 {
    font-size: 2.5rem;
  }

  .hero-info button {
    width: 80%;
  }
  .figure {
    width: 60%;
  }
  .card-item {
    flex-basis: 22%;
  }
}

@media (max-width: 480px) {
  .hero-info {
    max-width: 90%;
    top: 10rem;
    right: 5%;
  }

  .hero-info h1 {
    font-size: 2rem;
  }
  .hero-info h2 {
    font-size: 1.4rem;
  }

  .hero-info button {
    width: 60%;
    font-size: 0.9rem;
  }
  .cards-container {
    justify-content: center;
  }
  .figure {
    width: 100%;
  }
  .card-item {
    flex-basis: 45%;
  }
}
